# dependencies
node_modules/

# production
build/
builds/
dist/

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

*npm-debug.log
*.DS_Store
yarn-debug.log*
yarn-error.log*

# idea
# User-specific stuff:
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/jsLibraryMappings.xml

# Sensitive or high-churn files:
.idea/dataSources/
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml