# dependencies
node_modules/

# production
build/
builds/
dist/
coverage/

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

*npm-debug.log
*.DS_Store
yarn-debug.log*
yarn-error.log*